<div ng-controller="Ctrl">
  <div class="span12">
    <div ng-show="current_index == 0">
      <img ng-src="<%= @first_image %>">
    </div>
    <div ng-repeat="image in images">
      <div ng-hide="current_index != $index+1">
        <img ng-src="{{images[$index+1]}}">
      </div>
    </div>
  </div>
  <div class="span12">
    <div class="span1">
      <span ng-hide="checkStartSlide()">
        <button ng-click="prev()">Previous</button>
      </span>
    </div>
    <div class="span1">
  <span ng-hide="checkEndSlide()">
    <button ng-click="next()">Next</button>
  </span>
    </div>
    <div class="span2">
      <p>No of Slides {{current_index+1}}/<%= @no_of_slides %></p>
    </div>
  </div>

</div>