<!DOCTYPE html>
<html ng-app>
<head>
  <title>AngularjsExample</title>
  <%= stylesheet_link_tag    "application", controller_name, media: "all"  %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>
<main role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div>
  </main>

</body>
</html>
